@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyWebFont';
  src:    url('../public/font/LuckiestGuy-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


body {
  font-family:'MyWebFont','Courier New', Courier, monospace;
  line-height: inherit;
}

@media screen and (max-width: 560px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  body {
    width: 100vh !important;
    height: 100vw !important;
  }
}
